@model DiveCompMVC.Models.ActiveContestVM



<table class="table table-striped">
    <h5>Final Result</h5>
    <thead>
        <tr>
            <th>
                Final Position
            </th>
            <th>
                Name
            </th>
            <th>
                Club
            </th>
            <th>
                Total Score
            </th>


        </tr>
    </thead>
    <tbody>
        @{var i = 0; }
        @foreach (var item in Model.leaderboard) {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td id="@i">
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>


            </tr>
        }
    </tbody>
</table>
<table class="table-striped">
    <h5>Judges for Contest</h5>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Org
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.judges) {
            <tr>
                <td>
                    @item.FirstName @item.LastName
                </td>
                <td>
                    @item.Org
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("End Contest", "Index", "Home")
    @Html.ActionLink("Back", "StartContest", new { id = @Model.contest.Id })
</div> 