@model DiveCompMVC.Models.ActiveContestVM


<h1>Overview</h1>

<body>

    <div class="thead-dark">
        <h4>@Model.contest.Name @Model.contest.Type.Gender @Model.contest.Type.Type @Model.contest.Type.Height m</h4>
        <hr />
    </div>

    <div class="split left">
        <div class="centered">
            <h5>Judges</h5>
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Org
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.judges)
                    {
                        <tr>
                            <td>
                                @item.FirstName @item.LastName
                            </td>
                            <td>
                                @item.Org
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h5>Divers</h5>
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Club
                        </th>
                        <th>
                            Country
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.divers)
                    {
                        <tr>
                            <td>
                                @item.FirstName @item.LastName
                            </td>
                            <td>
                                @item.Club
                            </td>
                            <td>
                                @item.Country
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="btn">
                <button class="btn-outline-dark" name="start" type="button">
                    <a class="btn-outline-dark" asp-area="" asp-controller="CurrentEvent" asp-action="StartContest">Start</a>
                    <input type="hidden" value="@Model.contest.Id" asp-for="contest.Id" />
                </button>
            </div>
        </div>
    </div>

    


</body>
