@model DiveCompMVC.Models.ActiveContestModel




<div>
    <h4>@Model.contest.Name</h4>
    <hr />
    <dl class="row">
    </dl>

</div>

<div class="split left">
    <div class="centered">
        <h5> Judges </h5>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Org
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item1 in Model.judge)
                {
                    <tr>
                        <td>
                            @item1.FirstName @item1.LastName
                        </td>
                        <td>
                            @item1.Org
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <h5> Events </h5>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.events)
                {
                    <tr>
                        <td>
                            @item.Type.Gender @item.Type.Type @item.Type.Height
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="centered">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Club</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.events)
                    {

                     @foreach (var item2 in item.diverlist)
                     {

                        <tr>
                            <td>@item2.FirstName @item2.LastName</td>
                            <td>@item2.Club</td>
                            <td>@item2.Country</td>
                        </tr>
                     }
                     }


                </tbody>
            </table>
</div>


