@model DiveCompMVC.Models.ViewModel

@{
    ViewData["Title"] = "Add judges test";
}

@Html.ActionLink("Continue", "StartContest", "Contest", new { contestId = Model.AllContests[0].Id }, null)

<h1>Add Judges to @Html.DisplayFor(modelItem => Model.AllContests[0].Name)</h1>

@Html.ActionLink("Add judge to contest", "AddJudge", "Contest", new { contestId = Model.AllContests[0].Id }, null)

<h1>Added Judges</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllJudges)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                </td>
            </tr>
        }
    </tbody>
</table>