@model IEnumerable<DiveComp.Data.Models.LeaderBoardModel>

@{
    ViewData["Title"] = "Result list";
}

<h1>Results</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-horizontal">
    <h2>Search for Result</h2>
    <fieldset>
        @using (Html.BeginForm())
        {
        <select name="contestid" id="contestid-select">
            <option id=1>SM</option>
            <option id=2>DM</option>
        </select>
        }
    </fieldset>

    <div class="form-group">
        <table class="table table-responsive" style="width:600px">
            <tr>
                <th>
                    @Html.Label("Jump Category")
                </th>
                <th>
                    @Html.Label("First Name")
                </th>
                <th>
                    @Html.Label("Last Name")
                </th>
                <th>
                    @Html.Label("Club")
                </th>
                <th>
                    @Html.Label("Score in category")
                </th>
            </tr>
           
        </table>

    </div>
</div>
